{% extends "base.html" %}

{% block content %}
<h2>Gestión de Ubicaciones</h2>
<form method="POST" action="{{ url_for('agregar_ubicacion') }}">
    <label for="nombre">Nombre de la Ubicación:</label>
    <input type="text" id="nombre" name="nombre" required>
    <button type="submit">Agregar</button>
</form>
<!-- Botón para descargar el PDF -->
<a href="{{ url_for('generate_pdf_pacientes') }}" class="btn btn-danger">Descargar PDF</a>
<table>
    <tr>
        <th>ID</th>
        <th>Ubicación</th>
        <th>Acciones</th>
    </tr>
    {% for ubicacion in ubicaciones %}
    <tr>
        <td>{{ ubicacion[0] }}</td>
        <td>{{ ubicacion[1] }}</td>
        <td>
            <a href="{{ url_for('eliminar_ubicacion', id=ubicacion[0]) }}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
